.section_dramas {
  padding: 8rem 0rem;
  color: #000;
  background-color: #fff;

  h1 {
    margin-bottom: 4rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: #333;
  }

  @media (min-width: 1200px ) {
      padding: 0 30rem;
  }

  @media (max-width: 980px) {
    padding: 0 8rem;
  }

  @media (max-width: 780px) {
    padding: 0 6rem;
  }

  @media (max-width: 480px) {
    padding: 0 2rem;
  }
}

.dramas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
  grid-column-gap: 1.6rem;
  grid-row-gap: 3rem;
  position: relative;
}

.drama {
  background-color: #fff;
  color: #000;

  &_title {
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &_released {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: normal;
  }
}
